


<div
    class="workon-media_input
    {% if only_file %}workon-media_input-only_file{% endif %}
    {% if value %}active{% else %}empty{% endif %}
    {% if value.is_image %}image{% endif %}
    {% if value.is_embed %}embed{% endif %}
    "
    id="div_{{ id }}"

    data-media-dropzone='{
        "clickable": ".btn-wrapper"
    }'>

    <div style="display:none;" id="div_{{ id }}_inputs" class="workon-media_input-inputs">
        {% if not required %}
            {{ clear }}
        {% endif %}
        <input class="workon-media_input-file" {{ input_attrs|safe }} type="file" {% if value.is_image %}name="{{ name }}"{% endif %} accept="image/*" />
        <textarea type="text" {{ input_attrs|safe }} {% if value.is_embed %}name="{{ name }}"{% endif %}></textarea>
    </div>

    <div class="workon-media_input-media {% if value %}active{% endif %}">

        <span class="workon-media_input-preview" style="background-position: center center; background-repeat: no-repeat;{% if value.is_image %}background-image: url({{ value.url }});{% endif %}">
            {% if value.is_image %}
                <img style="opacity:0;" src="{{ value.url }}" class="img-responsive" />
            {% else %}
                {{ value.html|safe }}
            {% endif %}
        </span>
        <span class="btn-wrapper">
            <button type="button" class="btn btn3 workon-media_input-button workon-media_input-change">
                <span class="appicon appicon-media"></span>
                Changer
            </button>
        </span>

        {% if not required %}
        <button type="button" class="btn btn6 workon-media_input-button workon-media_input-clear">
            <span class="appicon appicon-remove"></span>
        </button>
        {% endif %}


        {% if not only_file %}
        <!-- <br/> -->
        <span class="workon-media_input-or">ou</span>
        <textarea class="form-control workon-media_input-add-embed"
            placeholder="Copiez collez une URL ou un code embed (youtube, dailymotion, soundcloud)"></textarea>
        {% endif %}
    </div>
    <!--<span class="workon-media_input-empty workon-media_input-change {% if not value %}active{% endif %}">

        <span class="appicon appicon-media"></span>
        Ajouter un média

    </span>-->

    <!--<div class="workon-media_input-modal">
        <button type="button" class="btn btn3 workon-media_input-add-image">

            {% if not only_file %}
                <span class="appicon appicon-media"></span>{{ "Image"|safe }}
            {% else %}
                <span class="appicon appicon-media"></span>{{ "Image"|safe }}
            {% endif%}
        </button>
    </div>-->
</div>