{% load thumbnail %}
<a class="navbar-brand" href="#">

    {% if current_project and current_project.brand_image %}
        {% thumbnail current_project.brand_image "x50" format="PNG" as thumb %}

          <!-- <img src="{{ thumb.url }}" class="brand-image img-responsive" /> -->

        {% endthumbnail %}
    {% endif %}
    {{ request.user.username }} @ <b>{{ current_project.name }}</b>
</a>
<ul class="nav navbar-nav pull-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-envelope"></i>
            Messages
            <span class="badge">5</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">New message</a>
            </li>
            <li>
                <a href="#">Inbox</a>
            </li>
            <li>
                <a href="#">Outbox</a>
            </li>
            <li>
                <a href="#">Trash</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="icon-cog"></i>
            Settings
        </a>
    </li>
    <li class="dropdown user">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i>
            <strong>{{ request.user.username }}</strong>
            <img class="img-rounded" src="http://placehold.it/20x20/ccc/777">
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Edit Profile</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/">Sign out</a>
            </li>
        </ul>
    </li>
</ul>