{% load thumbnail i18n workon_admin_tags %}
<a class="navbar-brand" href="#">
    <img style="height:34px; margin-right:15px; position:relative; top:-7px;" class="img-rounded img-responsive pull-left" src="{{ request.user.get_avatar_url }}">

    {% if current_project and current_project.brand_image %}
        {% thumbnail current_project.brand_image "x50" format="PNG" as thumb %}

          <!-- <img src="{{ thumb.url }}" class="brand-image img-responsive" /> -->

        {% endthumbnail %}
    {% endif %}
    {{ request.user.username }} @ <b>{% firstof 'admin_name'|workon_admin_conf site_header _('Admin') %}</b>

</a>
<ul class="nav navbar-nav pull-right">
    <!-- <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-envelope"></i>
            Messages
            <span class="badge">5</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">New message</a>
            </li>
            <li>
                <a href="#">Inbox</a>
            </li>
            <li>
                <a href="#">Outbox</a>
            </li>
            <li>
                <a href="#">Trash</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="icon-cog"></i>
            Settings
        </a>
    </li> -->
    <li class="dropdown user">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i>

            Mon compte
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
                {% if site_url %}
                    <li><a href="{{ site_url }}">{% trans 'View site' %}</a></li>
                {% endif %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                {% endif %}
                {% if user.has_usable_password %}
                    <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>

        </ul>
    </li>
</ul>