{% load i18n workon_admin_tags %}



<style type="text/css">
    {% workon_admin_theme request as theme %}
    {% if theme %}

    .alert-info {

        background-image: linear-gradient(to bottom,#EEE 0,#CCC 100%);
        border-color: #DDD;
    }

    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
    .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
    {
        background-color: {{ theme.dark_color1 }};
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
    .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

        border-color: {{ theme.dark_color2 }};
    }
    #sidebar {
        background-color: {{ theme.dark_color2 }};
    }
    a,
    #topbar #breadcrumb a,
    .table thead th a,
    #sidebar #dock li.launcher:hover > a > i,
    #sidebar #dock li.launcher.active > a > i,
    #sidebar #dock li.launcher:hover > a,
    #sidebar #dock li.launcher.active > a,
    #sidebar #dock li.launcher ul.dropdown-menu > li:hover > a,
    .pagination>li>a, .pagination>li>span {
        color: {{ theme.light_color1 }};
    }

    body.login .wrapper .brand h1 .logo-icon i,
    #topbar #breadcrumb .title,
    #sidebar #dock {
        color: {{ theme.light_color2 }};

    }
    #navbar .navbar-brand,
    .navbar-brand,
    #navbar .navbar-brand b,
    .navbar-nav>li>a,
    body.login {
        color: {{ theme.dark_color2 }};

    }
    {% endif %}
</style>