{% load i18n workon_admin_tags %}



<style type="text/css">
    {% workon_admin_theme request as theme %}
    {% if theme %}

    body {
        background-color: {{ theme.color }};
    }
    .sidebar {
        background: rgba(45, 45, 45, 0.74);
    }
    .btn-primary {

        background: {{ theme.light_color2 }};
        border-color: {{ theme.dark_color1 }};
    }
    .btn-primary:focus, .btn-primary:hover {
        background: {{ theme.light_color1 }};
        border-color: {{ theme.light_color2 }};
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
    .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
    {
        background-color: {{ theme.dark_color1 }};
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
    .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

        border-color: {{ theme.dark_color2 }};
    }
    .topbar i,
    .topbar .breadcrumb a,
    #navbar > ul li a:hover,
    .topbar .breadcrumb .title {
        color: {{ theme.light_color2 }};

    }
    form.change-list table tbody tr th a, form.change-list table tbody tr td a {
        color: {{ theme.light_color2 }};
    }
    form.change-list table tbody tr:hover th, form.change-list table tbody tr:hover td {
        background: {{ theme.light_color1 }};
    }

   /* .alert-info {

        background-image: linear-gradient(to bottom,#EEE 0,#CCC 100%);
        border-color: #DDD;
    }





    .tooltipster-dock .tooltipster-content .dock-menu li.separator,
    .sidebar .dock li.launcher:hover > a > i,
    .sidebar .dock li.launcher.active > a > i,
    .sidebar .dock li.launcher:hover > a,
    .sidebar .dock li.launcher.active > a,
    .sidebar .dock li.launcher ul.dropdown-menu > li:hover > a,
    .pagination>li>a, .pagination>li>span,
    .sidebar .dock {
        color: {{ theme.light_color1 }};
    }

    .nano > .nano-pane > .nano-slider{
        background: {{ theme.light_color1 }};
    }


    a,
    .topbar .breadcrumb a,
    .table thead th a,
    body.login .wrapper .brand h1 .logo-icon i,
    .topbar .breadcrumb .title {
        color: {{ theme.light_color2 }};
    }
    .navbar .navbar-brand,
    .navbar-brand,
    .navbar .navbar-brand b,
    .navbar-nav>li>a,
    body.login {
        color: {{ theme.dark_color2 }};

    }*/
    {% endif %}
</style>