{% load staticfiles workon_admin_tags i18n workon_admin_menu %}
<html class="js" lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
        <meta name="description" content="Building robust web apps is simple with timelines, profiles, notifications, messages, activity, and new utility classes.">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="NONE,NOARCHIVE"/>
        <title>{% firstof 'admin_name'|workon_admin_conf site_header _('Admin') %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'workon/vendors/nanoscroller/nanoscroller.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'workon/admin/css/admin.css' %}">
        {% include "admin/_theme_ruler.html" %}
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <![endif]-->

        <script type="text/javascript">
            var lang = 'fr'
            window.__PREFIX_URL__ = "{{ PREFIX_URL }}";
            window.__STATIC_URL__ = "{% filter escapejs %}{% static "" %}{% endfilter %}";
            window.__ADMIN_STATIC_URL__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
            window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
            window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";
            window.__USER_ID__ = "{{ request.user.id }}";
            window.__USER_PK__ = "{{ request.user.id }}";
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"crossorigin="anonymous"></script>
        <script type="text/javascript">
            var WorkonAdmin = {$: $.noConflict()};
            if (!$) $ = WorkonAdmin.$;
        </script>
        <script type="text/javascript">
            (function(w,d,s,g,js,fs){
            g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
            js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
            js.src='https://apis.google.com/js/platform.js';
            fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
            }(window,document,'script'));
        </script>
        <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/active-users.js" type="text/javascript"></script>
        <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/view-selector2.js" type="text/javascript"></script>

        <script src="{% static 'workon/vendors/nanoscroller/jquery.nanoscroller.min.js' %}" type="text/javascript"></script>

        <script src="//code.highcharts.com/highcharts.js"></script>
        <script src="//code.highcharts.com/modules/exporting.js"></script>
        <script src="{% static 'workon/vendors/jquery-cookie/jquery.cookie.js' %}"></script>
        <script src="{% static 'workon/vendors/smooth-scroll/jquery.smooth-scroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/select.js' %}"></script>
        <script src="{% static 'workon/packages/loading.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/tooltip.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/modal.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/form.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/highchart.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/isotope.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/color.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/tagsinput.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/json.js' %}"></script>
        {% block head %}
        {% endblock head %}
    </head>

    <body
        class="{{ request.resolver_match.namespace }}-{{ request.resolver_match.url_name }}
        {% firstof 'layout'|workon_admin_conf site_header 'vertical' %}"
    >
        <div id="wrapper" >
        {% block body %}


            {% if not is_popup %}
            <div class="navbar user-nav" id="navbar">
                {% block navbar %}
                    <div class="branding pull-left">
                        {% block branding %}
                        <a class="navbar-brand" href="#">
                            <img style="height:34px; margin-right:15px; position:relative; top:-7px;" class="img-rounded img-responsive pull-left" src="{{ request.user.get_avatar_url }}">
                            {{ request.user.get_full_name }} @ <b>{% firstof 'admin_name'|workon_admin_conf site_header _('Admin') %}</b>
                        </a>
                        {% endblock %}
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <!-- <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-envelope"></i>
                                Messages
                                <span class="badge">5</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">New message</a>
                                </li>
                                <li>
                                    <a href="#">Inbox</a>
                                </li>
                                <li>
                                    <a href="#">Outbox</a>
                                </li>
                                <li>
                                    <a href="#">Trash</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li> -->
                        <li class="dropdown user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-user"></i>
                                Mon compte
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if site_url %}
                                    <li><a href="{{ site_url }}">{% trans 'View site' %}</a></li>
                                {% endif %}
                                {% url 'django-admindocs-docroot' as docsroot %}
                                {% if docsroot %}
                                    <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                                {% endif %}
                                {% if user.has_usable_password %}
                                    <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endblock navbar %}
            </div>
            {% endif %}

            <div id="content" >
                <section id="sidebar" class="nano">
                    {% block sidebar %}

                        <!-- <i class="fa fa-bars" id="toggle"></i> -->
                        <a id="dock-scroll-top"><span class="fa fa-arrow-up"></span></a>
                        <a id="dock-scroll-bottom"><span class="fa fa-arrow-down"></span></a>
                        <ul id="dock" class="nano-content">


                            {% block menu_home %}
                                {% url 'admin:index' as index_url %}
                                <li class="home launcher {% if index_url == request.path %}active{% endif %}">
                                    <a href="{{ index_url }}"><i class="glyphicon glyphicon-home"></i></a>
                                </li>
                            {% endblock %}

                            {% get_menu request as app_list %}
                            {% if app_list %}
                                {% for app in app_list %}

                                    {% if app.separator %}
                                        <li class=" separator">{{ app.label|default:"-"|safe }}<i class="fa fa-sort-desc"></i></li>
                                    {% else %}
                                        <li  class="launcher {% if app.is_active %}active{% endif %} {% if app.models or app.include %}dock-tooltip{% endif %}">

                                            <a href="{{ app.url }}"{{ app.blank|yesno:' target=_blank,' }} style="word-wrap: break-word;">
                                                <i class="{% firstof app.icon 'fa fa-tachometer' %}"></i>
                                                {% trans app.label|safe %}
                                            </a>
                                            {% if app.models %}
                                                <ul class="dock-menu">
                                                    {% for model in app.models %}

                                                        {% if model.separator %}
                                                            <li class="separator">{{ model.label|safe }}<i class="fa fa-sort-desc"></i></li>
                                                        {% else %}
                                                            <li class="{% if model.is_active %}active{% endif %}">
                                                                <a href="{{ model.url }}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label|safe }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if app.include %}
                                                <ul class="dock-menu">
                                                    {% for app in app.include %}

                                                        {% if app.separator %}
                                                            <li class="separator">{{ app.label|safe }}<i class="fa fa-sort-desc"></i></li>
                                                        {% else %}
                                                            <li class="{% if app.is_active %}active{% endif %} {% if app.models or app.include %}dock-tooltip{% endif %}" >
                                                                <a href="{{ app.url }}"{{ app.blank|yesno:' target=_blank,' }}>{{ app.label|safe }}</a>
                                                                {% if app.models %}
                                                                    <ul class="dock-menu">
                                                                        {% for model in app.models %}

                                                                            {% if model.separator %}
                                                                                <li class="separator">{{ model.label|safe }}<i class="fa fa-sort-desc"></i></li>
                                                                            {% else %}
                                                                                <li class="{% if model.is_active %}active{% endif %}">
                                                                                    <a href="{{ model.url }}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label|safe }}</a>
                                                                                </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}

                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if False %}
                                                <ul class="dock-menu">
                                                    {% for model in app.include %}
                                                        <li class="launcher {% if model.is_active %}active{% endif %}" >
                                                            <a href="{{ model.url }}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label|safe }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% endblock sidebar %}
                </section>
                <section id="topbar">
                    <ul id="breadcrumb" class="breadcrumb">
                        {% block breadcrumbs %}
                            <li class="title">Accueil</li>
                        {% endblock breadcrumbs %}
                    </ul>
                    <div id="toolbar">
                        {% block toolbar %}{% endblock toolbar %}
                    </div>
                </section>
                <div id="main">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        {% endblock body %}
        </div>

        <script src="{% static 'workon/admin/admin.js' %}"></script>

        {% block js %}
        {% endblock js %}

        <script>
                $('html').removeClass('no-js').addClass('js')
        </script>

    </body>
</html>