<!DOCTYPE html>{% load staticfiles workon_admin_tags i18n workon workon_admin_menu %}
<html class="js" lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <meta charset="utf-8">

        {% meta title %}{% block meta_title %}{% firstof 'admin_name'|workon_admin_conf site_header _('Admin') %}{% endblock %}{% endmeta %}
        {% meta description %}{% block meta_description %}{% endblock %}{% endmeta %}
        {% meta keywords %}{% block meta_keywords %}{% endblock %}{% endmeta %}
        {% meta image %}{% block meta_image %}{{ STATIC_URL }}img/brand.png{% endblock %}{% endmeta %}

        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
        <!-- Global -->
        <title>{% usemeta title %}</title>
        <meta name="description" content="{% usemeta description %}" />
        <meta name="keywords" content="{% usemeta keywords %}" />
        <link rel="image_src" href="{% usemeta image %}" />
        <link href="{{ STATIC_URL }}images/favicon.ico" rel="icon">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="robots" content="NONE,NOARCHIVE"/>

        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,700" rel="stylesheet">

       <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous"> -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet" type="text/css">
       <!--  <link href="{% static 'workon/vendors/nanoscroller/nanoscroller.css' %}" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'workon/admin/css/styles.css' %}">
        {% include "admin/_theme_ruler.html" %}
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <![endif]-->

        <script type="text/javascript">
            var lang = 'fr'
            window.__PREFIX_URL__ = "{{ PREFIX_URL }}";
            window.__STATIC_URL__ = "{% filter escapejs %}{% static "" %}{% endfilter %}";
            window.__ADMIN_STATIC_URL__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
            window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
            window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";
            window.__USER_ID__ = "{{ request.user.id }}";
            window.__USER_PK__ = "{{ request.user.id }}";
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"crossorigin="anonymous"></script>
        <script type="text/javascript">
            var WorkonAdmin = {$: $.noConflict()};
            if (!$) $ = WorkonAdmin.$;
        </script>
        <script type="text/javascript">
            (function(w,d,s,g,js,fs){
            g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
            js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
            js.src='https://apis.google.com/js/platform.js';
            fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
            }(window,document,'script'));
        </script>
        <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/active-users.js" type="text/javascript"></script>
        <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/view-selector2.js" type="text/javascript"></script>

        <script src="{% static 'workon/vendors/nanoscroller/jquery.nanoscroller.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/admin/responsive-table.js' %}"></script>

        <script src="//code.highcharts.com/highcharts.js"></script>
        <script src="//code.highcharts.com/modules/exporting.js"></script>
        <script src="{% static 'workon/vendors/jquery-cookie/jquery.cookie.js' %}"></script>
        <script src="{% static 'workon/vendors/smooth-scroll/jquery.smooth-scroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/select.js' %}"></script>
        <script src="{% static 'workon/packages/loading.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/tooltip.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/modal.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/form.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/highchart.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/isotope.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/color.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/tagsinput.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/tabs.js' %}" type="text/javascript"></script>
        <script src="{% static 'workon/packages/json.js' %}"></script>
        {% block head %}
        {% endblock head %}
    </head>

    <body
        class="{{ request.resolver_match.namespace }}-{{ request.resolver_match.url_name }}
        {% firstof 'layout'|workon_admin_conf site_header 'vertical' %}
        {% block body_class %}{% endblock %}"

        style="background-image:url({% static "workon/admin/img/bg.png" %});"
    >
        <div id="wrapper" >


        {% block body %}


            {% if not is_popup %}
            <header class="navbar" id="navbar">
                <a id="nav-expander" class="nav-expander">
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-close"></i>
                </a>

                <section id="sidebar" class="sidebar nano">
                    {% block sidebar %}
                        <!-- <i class="fa fa-bars" id="toggle"></i> -->
                        <a id="dock-scroll-top" class="dock-scroll-top"><span class="fa fa-arrow-up"></span></a>
                        <a id="dock-scroll-bottom" class="dock-scroll-bottom"><span class="fa fa-arrow-down"></span></a>
                        <ul id="dock" class="dock nano-content">
                            {% block sidebar-menu %}


                            {% block menu_home %}
                                {% url 'admin:index' as index_url %}
                                <li class="home launcher {% if index_url == request.path %}active{% endif %}">
                                    <a href="{{ index_url }}"><i class="fa fa-tachometer"></i></a>
                                </li>
                            {% endblock %}

                            {% get_menu request as app_list %}
                            {% if app_list %}
                                {% for app in app_list %}

                                    {% if app.separator %}
                                        <li class=" separator">{{ app.label|default:"-"|safe }}<i class="fa fa-sort-desc"></i></li>
                                    {% else %}
                                        <li  class="launcher
                                            {% if app.is_active %}active{% endif %}
                                            {% if app.models or app.include %}dock-tooltip{% endif %}
                                            {% if app.denied %}denied{% endif %}">

                                            <a {% if not app.denied %}
                                                href="{{ app.url }}{{ app.query|default:'' }}"{{ app.blank|yesno:' target=_blank,' }}
                                                {% endif %}

                                                style="word-wrap: break-word;">
                                                <i class="{% firstof app.icon 'fa fa-tachometer' %}"></i>
                                                <span>{% trans app.label|safe %}</span>
                                            </a>
                                            {% if app.models %}
                                                <ul class="dock-menu">

                                                    <li class="label">{% trans app.label|safe %}</li>
                                                    {% for model in app.models %}

                                                        {% if model.separator %}
                                                            <li class="separator">{{ model.label|safe }}<i class="fa fa-sort-desc"></i></li>
                                                        {% else %}
                                                            <li class="
                                                                {% if model.is_active %}active{% endif %}
                                                                {% if model.denied %}denied{% endif %}">
                                                                <a
                                                                    {% if not model.denied %}
                                                                    href="{{ model.url }}{{ model.query|default:'' }}"{{ model.blank|yesno:' target=_blank,' }}
                                                                    {% endif %}

                                                                    ><span>{{ model.label|safe }}</span></a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if app.include %}
                                                <ul class="dock-menu">
                                                    {% for app in app.include %}

                                                        {% if app.separator %}
                                                            <li class="separator">{{ app.label|safe }}<i class="fa fa-sort-desc"></i></li>
                                                        {% else %}
                                                            <li class="
                                                                {% if app.is_active %}active{% endif %}
                                                                {% if app.models or app.include %}dock-tooltip dock-tooltip2{% endif %}
                                                                {% if app.denied %}denied{% endif %}" >
                                                                <a
                                                                    {% if not app.denied %}
                                                                    href="{{ app.url }}{{ app.query|default:'' }}"{{ app.blank|yesno:' target=_blank,' }}
                                                                    {% endif %}
                                                                    ><span>{{ app.label|safe }}</span></a>
                                                                {% if app.models %}
                                                                    <ul class="dock-menu">
                                                                        {% for model in app.models %}

                                                                            {% if model.separator %}
                                                                                <li class="separator">{{ model.label|safe }}<i class="fa fa-sort-desc"></i></li>
                                                                            {% else %}
                                                                                <li class="{% if model.is_active %}active{% endif %}">
                                                                                    <a href="{{ model.url }}{{ model.query|default:'' }}"{{ model.blank|yesno:' target=_blank,' }}><span>{{ model.label|safe }}</span></a>
                                                                                </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}

                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if False %}
                                                <ul class="dock-menu">
                                                    {% for model in app.include %}
                                                        <li class="launcher
                                                            {% if model.is_active %}active{% endif %}
                                                            {% if app.denied %}denied{% endif %}" >
                                                            <a
                                                                {% if not model.denied %}
                                                                href="{{ model.url }}"{{ model.blank|yesno:' target=_blank,' }}
                                                                {% endif %}
                                                                ><span>{{ model.label|safe }}</span></a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% endblock %}
                        </ul>
                    {% endblock sidebar %}
                </section>
                {% block post_sidebar %}
                {% endblock post_sidebar %}

                {% block navbar %}
                    {% block nav-left %}
                    <ul class="navbar-left pull-left">
                        {% block nav-branding %}
                        <li class="nav-branding">
                            <a>
                                <span>{% firstof 'admin_name'|workon_admin_conf site_header _('Admin') %}</span>
                            </a>
                        </li>
                        {% endblock %}
                    </ul>
                    {% endblock %}

                    {% block nav-global %}{% endblock %}

                    {% block nav-right %}
                    <ul class="navbar-right pull-right">


                        {% block nav-right-before %}
                        {% endblock %}



                        {% with 'search_url'|workon_admin_conf as search_url %}
                        {% if search_url %}
                        {% block nav-search %}
                        <li class="navbar-search" >
                            <a id="nav-search-expander">
                                <span class="fa fa-search"></span>
                            </a>
                        </li>
                        {% endblock %}
                        {% endif %}
                        {% endwith %}

                        {% block nav-user %}
                        <li class="dock-tooltip nav-user" data-tooltip-position="bottom" >
                            {% block nav-user-avatar %}
                            <a class="" href="#">
                                {% with request.user.get_avatar_url as avatar %}
                                <img
                                    {% if avatar %}
                                    src="{{ avatar }}"
                                    {% else %}
                                    src="{% static "workon/admin/img/default-avatar.png" %}"
                                    {% endif %}
                                />
                                {% endwith %}
                                <span>{{ request.user.get_full_name }}</span>

                                <b class="caret"></b>
                            </a>
                            {% endblock %}
                            <ul class="dock-menu" id="navbar-right">
                                {% block nav-user-menu %}
                                    {% if site_url %}
                                        <li><a href="{{ site_url }}">{% trans 'View site' %}</a></li>
                                    {% endif %}
                                    {% url 'django-admindocs-docroot' as docsroot %}
                                    {% if docsroot %}
                                        <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                                    {% endif %}
                                    {% if user.has_usable_password %}
                                        <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                                {% endblock %}
                            </ul>
                            {% endblock %}
                        </li>



                        {% block nav-right-after %}
                        {% endblock %}
                    </ul>
                    {% endblock %}

                {% endblock navbar %}
            </header>
            {% endif %}

            {% with 'search_url'|workon_admin_conf as search_url %}
            {% if search_url %}
            <form id="nav-search-form" class="navbar-form navbar-right" action="{% if '/' in search_url %}{{ search_url }}{% else %}{% url search_url %}{% endif %}" method="GET">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="q" placeholder="Recherche...">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </form>
            {% endif %}
            {% endwith %}
            <div id="content" >


                {% block messages %}
                    {% if messages %}
                    <ul id="messages" class="messages messagelist">{% for message in messages %}
                      <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                    {% endfor %}</ul>
                    {% endif %}
                {% endblock messages %}

                <section id="topbar" class="topbar">

                    <ul id="breadcrumb" class="breadcrumb">
                        {% block breadcrumbs %}
                            <li class="title">Accueil</li>
                        {% endblock breadcrumbs %}
                    </ul>
                    <div id="toolbar" class="toolbar">
                        {% block toolbar %}{% endblock toolbar %}
                    </div>
                </section>

                <div id="main" class="main _nano">
                    <div class="main-content _nano-content">

                        {% block content %}{% endblock content %}
                    </div>
                </div>

            </div>
        {% endblock body %}
        </div>

        <script src="{% static 'workon/admin/admin.js' %}"></script>

        {% block js %}
        {% endblock js %}

        <script>
                $('html').removeClass('no-js').addClass('js')
        </script>

    </body>
</html>