{% extends "admin/base_site.html" %}
{% load i18n admin_urls staticfiles admin_modify workon_admin_tags %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}

    {% if 'CONFIRM_UNSAVED_CHANGES'|workon_admin_conf %}
        <!-- Warn on leaving unsaved form -->
        <script src="{% static 'workon/admin/js/workon-admin-form-confirm.js' %}"></script>
        <script type="text/javascript">
            confirmExitIfModified('{{ opts.module_name }}_form', '{% trans 'You have unsaved changes' %}.');
        </script>
    {% endif %}

    {% if adminform.model_admin|workon_admin_form_tabs %}
        <script type="text/javascript">
            (function ($) {
                $(function () {
                    $('#workon_admin_form_tabs').workon_admin_form_tabs();
                });
            }(WorkonAdmin.$))
        </script>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}

    {% if not is_popup %}
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
        <li>{% if has_change_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        </li>
        <li class="active">
            {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
    {% endif %}
{% endblock %}

{% block toolbar %}
    {% if change %}
        {% if not is_popup %}
            <div class="btn-toolbar pull-right">
                <div class=" btn-group object-tools-items">
                    {% block object-tools-items %}
                        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                        <a href="{% add_preserved_filters history_url %}" class="historylink btn btn-primary">{% trans "History" %}</a>
                        {% if has_absolute_url %}
                            <a href="{{ absolute_url }}" class="viewsitelink btn btn-primary" target="_blank">{% trans "View on site" %}</a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="btn-group">
        <a class="btn" href="" title="" data-original-title="Building">
            <i class="fa fa-plus"></i>
        </a>
    </div>
{% endblock toolbar %}

{% block content %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" class="change-form form-horizontal" novalidate>
   <!--  <div class='panel panel-default'>
        <div class='panel-heading'>
            <i class='icon-edit icon-large'></i>
            {{ opts.verbose_name_plural|capfirst }} > {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
        </div>
        <div class='panel-body'>
 -->


            {% csrf_token %}{% block form_top %}{% endblock %}

            {# render workon_admin_form_includes at top position #}
            {% include 'admin/includes/change_form_includes.html' with position='top' %}

            {% block workon_admin_form_tabs %}
                {% if adminform.model_admin|workon_admin_form_tabs %}


                    <ul id="workon_admin_form_tabs" class="nav nav-tabs nav-tabs-workon" data-tab-prefix="workon-tab">
                        {% for tab in adminform.model_admin|workon_admin_form_tabs %}
                            <li><a href="#{{ tab.0 }}">{{ tab.1 }}</a></li>{% endfor %}
                    </ul>

                {% endif %}
            {% endblock %}

            <div class="tab-content tab-content-main">
                {% if is_popup %}
                    <input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                {% if to_field %}
                    <input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}


                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% include "admin/includes/fieldset.html" %}
                    {% endfor %}
                {% endblock %}


                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}

            </div>
            {% block after_field_sets %}{% endblock %}

            {# render workon_admin_form_includes at middle position #}
            {% include 'admin/includes/change_form_includes.html' with position='middle' %}


            {% block after_related_objects %}{% endblock %}

            {# render workon_admin_form_includes at last position #}
            {% include 'admin/includes/change_form_includes.html' with position='bottom' %}

            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

            {% if adminform and add %}
                <script type="text/javascript">
                    (function ($) {
                        $(document).ready(function () {
                            $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                        });
                    })(django.jQuery);
                </script>
            {% endif %}

            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}

<!--
        </div>
    </div> -->
</form>
{% endblock %}
