a
    fg(dark-color); tr-cl();
    &:hover
        fg(light-color)

    &.btn
        tr(none);

#content
    ab(70,20,0,20,1); rad(15); oh();
    bd(1,1,1,1,solid,1px solid rgba(0, 0, 0, 0.2));
    bshad(0 0 0 2px rgba(0, 0, 0, 0.04));


.main
    ab(0,0,0,80,2); bs(#000 -2px 1px 7px -2px !important);
    mt(51); oa(); bg(white); p(20);

@media screen-md-max
    body
        zoom:0.7;

@media screen-sm-max
    body
        zoom:0.5;

@media screen-xs-max
    body
        zoom:0.3;

body
    padding: 10px 20px 0px 20px;
    background-color: #bdc3c7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;

@media (min-width: 1260px)
    .container
        width: 1230px;


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    font-weight: 600;
    line-height: 1.2;

ul
    lsn();

    li
        p(0); m(0);
