{% extends "admin/base.html" %}

{% load admin_static static %}{% load suit_tags %}{% load i18n %}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}

    <script>
      window.ADMIN_STATIC_URL = "{{ STATIC_URL }}";
      window.STATIC_URL = "{% static '' %}";
      window.USER_ID = "{{ request.user.pk }}";
    </script>

    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'workon/vendors/highcharts/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'workon/vendors/highcharts/modules/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'workon/packages/loading.js' %}"></script>
    <script type="text/javascript" src="{% static 'workon/packages/select.js' %}"></script>
    <script type="text/javascript" src="{% static 'workon/packages/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'workon/packages/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'workon/packages/loading.js' %}"></script>
    <script type="text/javascript" src="{% static 'workon/packages/modal.js' %}"></script>
{% endblock %}

{# Additional CSS includes #}
{% block extrastyle %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'workon/vendors/select2/select2.min.css' %}" media="all">
{% endblock %}


{% block header %}
    {% if not is_popup %}
      <!-- Header -->
      <div id="header" class="header">
        {% block branding %}
          <div id="branding">
            <a href="/"><span class="appicon appicon-logo"></span> admin</a>
          </div>
        {% endblock branding %}

        {% block header_time %}
        <!-- <div class="header-content header-content-first">
          <div class="header-column icon">
            <i class="icon-time"></i>
          </div>
          <div class="header-column">
            <span class="date"> {% suit_date %}</span><br>
            <span class="time" id="clock">{% suit_time %}</span>
          </div>
        </div> -->
        {% endblock %}

        {% block header_content %}
          <!--<div class="header-content">
            <div class="header-column icon">
              <i class="icon-comment"></i>
            </div>
            <div class="header-column">
              <a href="" class="grey"><b>2</b> new messages</a>
            </div>
          </div>-->
        {% endblock %}

        {% if user.is_active and user.is_staff %}
          <div id="user-tools">
            {% trans 'Welcome,' %}
            <strong>
              {% filter force_escape %}
                {% firstof user.first_name user.username %}{% endfilter %}</strong>.
            <span class="user-links">
            {% block userlinks %}
              {% url 'django-admindocs-docroot' as docsroot %}
              {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
               <span class="separator">|</span>
              {% endif %}
              <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
              <span class="separator">|</span>
              <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
              </span>
            {% endblock %}
          </div>
        {% endif %}
        {% block nav-global %}{% endblock %}



        {#% include "main/_menu.html" %#}

      </div>
    {% endif %}
    <!-- END Header -->
  {% endblock %}

{# Additional JS files in footer, right before </body> #}
{% block extrajs %}



    {{ block.super }}

    <script type="text/javascript" >

        $(document).ready(function() {

          var $tabs = $('#suit_form_tabs');
          var $mainInfos = $('.main-infos');
          var $topInfos = $('.suit-include');

          $tabs.before($mainInfos).css({ marginTop: 25 })
          $tabs.before($topInfos)

          $(window).scroll(function()
          {
            var scrollTop = $(window).scrollTop();
            var scrollTotal = $(document).height() - $(window).height();
            var actions = $('#changelist-form div.actions, #changelist-form .pagination-block, #changelist-form div.below-actions')
            if(scrollTop <= scrollTotal / 2) {
              $('#changelist-form div.results').before(actions);
              $('.below-actions input').css({ marginTop: 43 });
            }
            else {
              $('#changelist-form div.results').after(actions);
              $('.below-actions input').css({ marginTop: '' });
            }

          });
          $(window).scroll();


          $(document).on('mouseenter', 'form input[type=file]', function()
          {
            if(!this.better_file_upload)
            {
                this.better_file_upload = true;

                $(this).on("change", function(e)
                {
                    var files = this.files;
                    var $image = $(this).nextAll('img').eq(0);
                    if(!$image.length)
                    {
                        $image = $('<img />').attr('src', '').css(
                        {
                            width: '100%',
                            maxWidth: 300
                        });
                        $(this).after('<br />').after($image);
                    }
                    if (!files || files.length == 0)
                    {
                        return false;
                    }
                    var file = files[0],
                        imageType = /image.*/,
                        fileIsImage = true;

                    // check if this is an image
                    if ( ! file.type.match(imageType)) {
                        fileIsImage = false;
                    }
                    if ( !fileIsImage ) {

                    } else {
                        $image[0].file = file;
                        var reader = new FileReader();
                        reader.onload = (function(aImg){
                            return function(e){
                                aImg.src = e.target.result;
                            };
                        }($image[0]));

                        var ret = reader.readAsDataURL(file),
                            canvas = document.createElement("canvas");

                        ctx = canvas.getContext("2d");
                        $image[0].onload = function(){
                            ctx.drawImage($image[0], 100, 100);
                        }
                    }
                });

            }
        });


          $('p.file-upload > a').each(function()
          {
                var src = $(this).attr('href');
                if( src.toLowerCase().match(/\.(jpeg|jpg|gif|png)$/) != null )
                {
                    $(this).parent().append($('<img style="display:block;"/>').attr('src', src).css({
                        maxWidth: 300
                    }));
                }
          });


          $('form').attr('novalidate', '')

        });

        //$('select').select2();

    </script>
{% endblock %}

{% block footer %}
  {% if not is_popup %}
  <footer class="footer">
    <p class="copyright">All rights reserved - Legal terms</p>

  </footer>
  {% endif %}
{% endblock %}


{# Footer links (left side) #}
{#{% block footer_links %}#}
{#  <a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>#}
{#{% endblock %}#}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    {{ block.super }}#}
{#    <div class="header-content">#}
{#        <!-- First icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-home"></i><br>#}
{#            <i class="icon-cog"></i>#}
{#        </div>#}
{#        <div class="header-column" style="margin-right: 20px">#}
{#            <a href="/" class="grey">Front-end</a><br>#}
{#            <a href="" class="grey">One more link</a>#}
{#        </div>#}
{#        <!-- Second icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-comment"></i>#}
{#        </div>#}
{#        <div class="header-column">#}
{#            <a href="" class="grey">5 new messages</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Footer branding name (center) #}
{#{% block footer_branding %}#}
{#{% endblock %}#}


{# Footer copyright (right side) #}
{% block copyright %}
  Copyright &copy; 2015 Workon.io<br>Developed by <a href="http://workon.io" target="_blank">Workon</a>
{% endblock %}