#navbar
    rl(); mb(0); fx(0,0,,0,100); h(60);
    // border-bottom:2px solid #DADADA;
    // bg(#FAFAFA)
    // bg(#2d2d2d)
    bs-cl();
    rad(0);
    bg(#F2F2F2)

    .nav-expander
        rl(); ptb(15); wh(60); fl(); tac(); cur(pointer); z(3);
        //border-bottom: 1px solid #131313;
        tdn(); fs(0.8em)
        tr-cl(); dib(); //bg(darker-color);


        > i
            fs(2.5em);
        > i.fa-close
            dn();

        html.nav-expanded &
            > i.fa-bars
                dn();
            > i.fa-close
                db();

    > ul
        lsn(); p(0); m(0);
        li
            fl();
            a
                p(15); dib(); lh(30px);cur(pointer); tdn(); tr-cl();
                &:hover
                    fg(light-color)
                span, i
                    fs(30);

            &.nav-branding

                fs(30); tuc(); fwb(); tshad(); rl();
                img
                    ts(translateY(-50%)); ab(50%,,,0); mxh(40);


            &.navbar-search
                a
                    &:before
                        ct(" "); dib();

            &.nav-user
                span
                    ml(10); dib(); fs(14);
                img
                    fl(); mxh(30); rad(100%);
