.navbar
    rl(); mb(0);

    .navbar-brand
        font-size: 1.8em;
        color: dark-color;
        float: left;
        padding: 15px 15px;
        line-height: 20px;
        height: 50px;

        b
            color: dark-color;

    .branding, .navbar-nav
        @media screen-sm-max
            float: none!important;
            cl();
            > li
                fl();

    .navbar-form
        bs(none);

// .navbar-inverse
//     bg(#303131); bc(#929292); bb(2);
//     font-weight: 400;
//     .navbar-nav
//         > li > a
//             color: rgba(255, 255, 255, 0.8);

//     .navbar-form
//         .form-control
//             border-color: #1C73A5;

//     .navbar-brand
//         img
//             height:23px;
