.topbar

    margin-left: 80px;

    #breadcrumb
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        padding: 15px 20px 15px 20px;
        border-bottom: 1px solid #dddddd;

        a
            color: font-color;

        .main-title
            font-weight: 800;
            color: dark-color;

        .title
            font-weight: 800;
            color: light-color;

    #toolbar
        margin-top: -70px;
        margin-right: 10px;
        float: right;
        height: 50px;
        padding: 8px;
        border-bottom: 0;

        // .btn-group, .label, form
        //     float: right;
        //     display: inline-block;

        //     .btn
        //         color: lighter-color;
        //         background-color: light-color;
        //         border-color: #17a689;

        .label
            margin-right: 5px;
            margin-top: 6px;
            padding: 5px;
            height: 23px;
            font-size: 0.9em;
            font-weight: 200;