
form.change-form
    pr(170);
    .fieldset-body
        pt(15); pr(15);

    .control-label
        label
            pl(10);


    .submit-row
        fx(140,38,,,1001); mxw(160); bg(#f5f5f5); p(10); m(0,0,0,0); rad(5);
        //bs(0px 0px 1px 1px rgba(0, 0, 0, 0.15) !important);
        border: 1px solid #ddd;

        .deletelink-box
            mt(10);

        .btn
            mb(10); w(100%);
            white-space: normal;

    .widget-CheckboxInput
        mt(7);

    .form-group
        .input-group-btn
            .add-another
                ptb(9)

    .nav-tabs
        mb(15);