
#content
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 20px;
    right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    overflow: hidden;




// .project-fast-add
//     .list-group-item
//         p(3); bg(#303131);
//     .project-fast-add-form
//         m(0);