

.selector .selector-available h2,
.selector .selector-chooser h2,
.selector .selector-chosen h2
    font-size: 14px;
    p(10,10);



.selector .selector-add:before,
.selector-remove:before
    ct('>'); db(); fg(black); pl(3); fwb();
    text-indent:1px;

.selector-remove:before
    ct('<');
