a
    fg(dark-color); tr-cl();
    &:hover
        fg(light-color)

#content
    ab(70,20,0,20,1); rad(15); oh();
    bd(1,1,1,1,solid,1px solid rgba(0, 0, 0, 0.2));
    bshad(0 0 0 2px rgba(0, 0, 0, 0.04));


#main
    ab(0,0,0,80,2); bs(#000 -2px 1px 7px -2px !important);
    mt(51); oa(); bg(white); p(20);
