#sidebar
    bg(darker-color); w(80); oh();
    ab(0,0,0,0,1); rad(15,0,0,0);


    #dock-scroll-top
        ab(5,0,,0,1); tac();

    #dock-scroll-bottom
        ab(,0,5,0,1); tac();

    #dock
        p(0,0,0,0); w(95); fg(light-color); rad(15,0,0,0);
        border-top-left-radius: 15px;
        overflow-y: scroll;

        li.launcher
            tsn(); mt(30); cur(pointer); mb(20); tac();

            > i, > a
                tr-cl(); db(); fg(white);

            > i
                fs(2.5em); mb(-2);

            > a
                h(36); rl(); pt(36); mt(-36);
                tdn(); fs(0.8em)

            &:hover, &.active
                > i, > a
                    fg(light-color);

                &:before
                    ts(rotate(45deg)); ct(" "); dib(); wh(10); bg(white);
                    ab(); r(-6); mt(22);

            &:hover
                ul.dropdown-menu
                    l(0); op(1);
                    tr(all 0.2s ease-in);
                    visibility: visible;

            ul.dropdown-menu
                font-size:22px;
                tr(all 0.3s ease-out 0.3s);
                op(0); db(); ab(8,,,0,1000);
                visibility: hidden;

                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                font-size: 14px;
                text-align: left;
                background-color: darker-color;
                border: 1px solid #cccccc;
                border: 1px solid #1a242f;
                border-radius: 4px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                background-clip: padding-box;

                width: 180px;
                border-left-width: 0;
                text-align: left;
                margin-left: 85px;



                li > a
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: #ecf0f1;
                    white-space: nowrap;
                    display: inline-block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 5px 20px;

                    &:hover
                        text-decoration: none;
                        color: #262626;
                        background-color: whitesmoke;

                li.dropdown-header
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    border-radius: 4px;
                    color: #1abc9c;
                    margin-top: -5px;
                    padding: 5px 20px;

