#sidebar

    background-color: darker-color;
    width: 80px;
    z-index: 1;
    text-align: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    #toggle
        margin-top: 20px;
        display: inline-block;
        color: light-color;


    .cover-image
        h(45); m(5); rad(10,0,0,0); oh();
        background-size: cover;

    ul.dock
        margin: -15px 0 0 0;
        padding: 0;
        width: 80px;
        text-align: center;
        color: #ecf0f1;
        // border-right: 1px solid #1a242f;

        li.launcher
            list-style: none;
            margin-top: 30;
            cursor: pointer;

            > i
                tr-cl();
                display: block;
                font-size: 2.5em;
                margin-bottom: -2px;

            > a
                tr-cl();
                height: 36px;
                display: block;
                position: relative;
                padding-top: 36px;
                margin-top: -36px;
                text-decoration: none;
                color: lighter-color;
                font-size: 0.8em;


            &:hover, &.active
                > i, > a
                    color: light-color;

                &:before
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-color: white;
                    position: absolute;
                    right: -6px;
                    margin-top: 22px;

            &:hover
                .dropdown-menu
                    l(0);
                    opacity: 1;
                    tr(all 0.2s ease-in);
                    visibility: visible;

            .dropdown-menu
                font-size:22px;
                tr(all 0.3s ease-out 0.3s);
                opacity:0;
                db(); ab(8,,,0, 1000);
                visibility: hidden;

                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                font-size: 14px;
                text-align: left;
                background-color: darker-color;
                border: 1px solid #cccccc;
                border: 1px solid #1a242f;
                border-radius: 4px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                background-clip: padding-box;

                width: 180px;
                border-left-width: 0;
                text-align: left;
                margin-left: 85px;



                li > a
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: #ecf0f1;
                    white-space: nowrap;
                    display: inline-block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 5px 20px;

                    &:hover
                        text-decoration: none;
                        color: #262626;
                        background-color: whitesmoke;

                .dropdown-header
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    border-radius: 4px;
                    color: #1abc9c;
                    margin-top: -5px;
                    padding: 5px 20px;

