body
    padding: 10px 20px 0px 20px;
    background-color: #bdc3c7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;

@media (min-width: 1260px)
    .container
        width: 1230px;


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    font-weight: 600;
    line-height: 1.2;

ul
    lsn();

    li
        p(0); m(0);


// a, a:visited
//     fg(#525252);
//     &:hover, &:active
//         fg(#2E3A65); tdn();

// .panel, .list-group
//     margin-bottom: 30px;

// .list-group-item
//     p(20);

// .list-group-item, .panel-body
//     .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
//         m(0);

