#messages
    m(-10,0,10,0); p(0);

    .message
        bg(rgb(197, 239, 211)); fg(#333); p(10,20); tac(); fs(21); fwb(); rad(5); mb(5);

        &.info
            bg(#EFE3C5); fs(21); fwb();

        &.error
            bg(red); fs(21); fwb();