.panel
    box-shadow: none;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;

    .panel-heading
        text-align: left;
        background-color: #f5f7f7;
        color: #2c3e50;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;



        i[class*='icon-'], i[class*='fa-']
            margin-right: 5px;

        .panel-tools
            float: right;
            margin-top: -4px;
            margin-right: -8px;

            .btn-group, .panel .panel-tools .label, .panel .panel-tools .badge
                float: right;
                display: inline-block;

            .btn-group
                margin-top: -6px;
                > .btn:first-child
                    margin-left: 0;

            .btn
                padding: 8px 6px;
                font-weight: 200;
                font-size: 1em;
                color: #2c3e50;

            .badge
                margin-right: 5px;
                margin-top: 4px;
                padding-bottom: 4px;
                font-weight: 200;
                bg(light-color);
                rad(5);


    > .panel-heading
        color: #333333;
        background-color: whitesmoke;
        border-color: #dddddd;

    .panel-body

        .page-header
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
            font-size: 21px;
            line-height: inherit;
            color: #333333;
            border: 0;
            border-bottom: 1px solid #e5e5e5;

        .page-list
            m(0, -15, 15, -15); p(0);


