#messages
    p(0);

    .message
        background: rgb(104, 206, 138);
        color: #FFF;
        padding: 10px 20px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 5px;
        tshad();

        a
            fg(#FFF);

        &.info
            bg(#EFE3C5); fs(21); fwb();

        &.error
            bg(red); fs(21); fwb();