

dib()
    display: inline-block
dibi()
    display: inline-block !important
dtc()
    display: table-cell
dtci()
    display: table-cell !important
di()
    display: inline
dii()
    display: inline !important
dt()
    display: table
dti()
    display: table !important
db()
    display: block
dbi()
    display: block !important
bk()
    db()
dn()
    display: none
dni()
    display: none !important
un()
    dn()