#site_name, #site-name, #branding,
#site_name a, #site-name a, #branding a {
    margin-right: 25px;
    color: white;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
}

.box.well {
    background: white;
}

.breadcrumb {
    background: white;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
}

@keyframes placeholder {
    from { top:-8px; left:-8px; }
    50% { top:-10px; left:-10px; }
    to { top:-8px; left:-8px; }
}

.navbar-suit-top .form-control {
    position: relative;
    top: -4px;
}

#google_analytics_users {
    color: white;
    padding: 10px 15px;

}
.box.well {
    overflow: hidden;
}
.box h3 {
    margin:0px;
}
#google_analytics_users {
    text-align:left;
    display:block;
}
#google_analytics_users > span {
    display: inline-block;
    margin-right: 15px;
}
#google_analytics_users b {
    font-size:25px;
    margin:0px;
    color: #D4F5D4;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.27);
}

.suit-menu-horizontal .nav-suit-menu .nav a {
    white-space: nowrap;
}


/***** LOADINGS *****/
@keyframes spin {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.loading, .mfp-preloader {
    position:relative;
    min-height:50px;
}
.loading > .loading-text, .mfp-preloader > .loading-text {
    position:absolute; left:50%; top:50%; margin-top:10px;
    transform: translateX(-50%);
}
.loading:after, .mfp-preloader:after {
    content:" ";
    position:absolute; left:50%; top:50%; margin-left:-8px; margin-top:-8px;
    height: 16px;
    width: 16px;
    animation: spin 0.8s infinite linear;
    border: 2px solid black;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-radius: 50%;
}
/*    &.loading2
        &:before
            ct(" "); ab(0,0,0,0,1); wh(100%); bg(rgba(0,0,0,0.7));
body.loading
    &:before
        animation:fadeIn 0.3s ease-in ;
        ct(" "); fx(0,0,0,0,5000); wh(100%); bg(rgba(0,0,0,0.7))
    &:after
        position: fixed;
        z-index: 5001;
    > .loading-text
        position: fixed;
        z-index: 5001;
    // .spinner
    //     fx();*/