body
    mt(50);

header
    fx(0,0,,0,1001); h(50); bg(gray);
    //bb(1,solid,gray);
    bs(gray 0 -2px 6px 2px !important);
    bs(black 0 -2px 6px 2px !important);
    //bt(1,solid,gray);
    bg(#f4f4f4);

    a, li
        fg(gray !important);
    a
        .fa-arrow-up
            dib();
        .fa-arrow-down
            dn();
        &.collapsed
            .fa-arrow-up
                dn();
            .fa-arrow-down
                dib();


