

.change-list


    .filters

        .title
            lts(-0.5);
        .form-group
            mb(10);
            > i
                ab(10,,,15);
            > input
                w(100%); pl(40);

        .pagination-total
            db(); mb(5);

    .list

        .preview
            mb(25);

    .results-line
        cl(); mb(10);