
.nav-expander
    rl(); ptb(15); wh(60); fl(); tac(); cur(pointer); z(3);
    tdn(); fs(0.8em)
    tr-cl(); dib(); fg(white);  //bg(darker-color);


    > i
        fs(2.5em);
    > i.fa-close
        dn();

    html.nav-expanded &
        > i.fa-bars
            dn();
        > i.fa-close
            db();

.navbar
    rl(); h(50); lh(50px); fg(white); bd(0);
    ul
        cl();
        li
            db(); h(50); fl();
            a
                plr(8); dib(); fg(white);
                > i
                    lh(50px); fs(30);
                img
                    mxh(50)
            &.separator
                mlr(5); fs(10);

            &.search-box
                rl(); pr(60);
                .form-control
                    dibi();
                    wr(100,150,250,300)

                    body.authenticated &
                        wr(100,150,300,350)

                a
                    ab(0,5,,,)
            &.brand
                p(0);


        &.left
            fl();

        &.right
            fr();

    a.brand
        ab(0,,,50%,); ts(translateX(-50%));
        img
            h(30);

    .navbar-left, .navbar-right
        m(0);