{% extends "admin/change_form.html" %}

{% load admin_static i18n %}


{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block object-tools %}
{% endblock %}

{% block content %}
<div id="content-main">


    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" class="form-horizontal" novalidate>
        {% csrf_token %}{% block form_top %}{% endblock %}
        <div class="tab-content tab-content-main">

            {% include "admin/form_as_fieldset.html" with title="Ajouter à la sélection" %}

            Selection ({{queryset.count}}) :<br/>

            {% for object in queryset %}
                <b>{{ object }}</b>,
            {% endfor %}
            <br/>
            <br/>


            <input type="submit" value="{% trans 'Save' %}"
            class="default btn btn-primary"
            name="_selection_add"/>

        </div>

    </form>

</div>
{% endblock %}
