
// /*********** BUTTONS ***********/

.btn
    tr-cl();
// .btn, .sticker

//     rl(); p(4,35); bd(2,2,2,2,solid); lts(0.4); rad(12); fs(12); mr(10); mnw(118); tac(); dib(); mb(20); //tr-cl();
//     text-shadow: none;
//     line-height: 1;
//     white-space: normal;

// .btn
//     cur(pointer); plr(16);
//     white-space: normal;
//     @media screen-sm-min
//         white-space: nowrap;

//     &.small
//         mnw(0); plr(16);

//     &.pull-right
//         mrl(0,10);

//     &.block
//         db(); mr(0);

//     // &.btn1

//     &.btn2 // SMALL ICON
//         ml(33);
//         .appicon
//             ab(-4,,,-35,1); fs(24);

//     &.btn3 // ICON BLOCK
//         mt(60);
//         .appicon
//             ab(-60,0,,0,1); fs(48);

//     &.btn4 // LINK
//         bd(0); mnw(0); fs(12); lts(0.5); tuc(); p(0); tal();
//         .appicon, .fa
//             fs(16); mr(5); rl(); t(3);
//         &:hover
//             tdu();

//     &.btn5 // SQUARE
//         p(10,15); rad(0); fs(16);
//         @media screen-sm-min
//             white-space: normal;

//         span.appicon
//             db(); fs(50); fg(inherit); mb(10);

//         &.large
//             p(40,15);

//     &.btn6 // ICON
//         p(10,0); mnw(0); wh(48); rad(50%); tac(); mr(5); bd(0);
//         .appicon
//             fs(24); rl(); l(-1);

//         &.small
//             p(8,0); wh(32);
//             .appicon
//                 fs(16);

//         &.xsmall
//             p(5,0); wh(24);
//             .appicon
//                 fs(12);




// .btn-wrapper // DROPZONE
//     db(); bd(2,2,2,2,dashed); cur(pointer); tac(); mnh(300); rl();

//     .btn

//         plr(10);  ab(); l(50%); t(50%); ts(translateY(-50%) translateX(-50%));
//         &.btn3
//             mt(25);
//         &.large
//             mt(25);

//     &.small
//         mnh(150);




// .sticker
//     fs(10); mnw(0); p(5,12,4,12); tuc(); lts(0);

//     &.sticker1
//         p(4,10,2,10);