.caption
    tr-cl(); p(12); bg(rgba(0,0,0,0.5)); fg(white); tshad(0 0 3px rgba(0,0,0,.8));


    li, a
        fg(white); fs(14);

    &.square
        tac(); p(0,15); h(50); lh(50px); fs(30); rad(5);

    &.icon
        dib(); rad(50%); tac(); p(0); wh(50);
        i
            lh(50px); fs(30); fwb();

    &.white
        fs(30); p(0); bg(transparent); fg(white); tsh(rgba(0, 0, 0, 1) 0 0px 20px !important);

    &.revealed
        tsh(rgba(0, 0, 0, 1) 0 0px 20px !important); //ab(,,0,220,1); rad(0,18,0,0)

.caption

    background: rgba(255, 255, 255, 0.65);
    color: #171717;
    li, a
        color: #171717;

.view
    .caption
        bg(rgba(0,0,0,0.5)); fg(white);
        li, a
            fg(white);
        &.white
            bg(transparent);