.carousel

    .carousel-media
        img
            w(100%)
    &.empty
        mb(0);


.carousel-nav
    p(5); rad(3); cl();

    .carousel-media
        cur(pointer); m(5);

        img
            w(100%)

        &.slick-current
            outline:1px solid bordercolor;