
.dz-buttons
    mt(15); cl();
.dropzone

    .help-block
        mt(0); tac();

.dz-message

    .btn
        w(100%); p(35); mb(15);
        white-space: normal;
        border-style: dashed;
        i
            fs(40);
        .dz-embed
            m(15,-15,-15,-15);
            textarea.form-control
                hr(60,80,80,60);


.dz-preview

    rl(); mt(15); cl();


    .dz-thumbnail
        mt(-2);
        img
            mxw(100%); mxh(100);

    .dz-embed-code
        iframe, embed
            mxw(100%); mxh(100);

    .form-group
        m(0);

    .dz-details
        .dz-title
            mb(10);

        .dz-description
            mnh(105);

        .dz-filename
            fbw(); fy(italic);

        .dz-progress
            db(); wh(100%,20); rad(5); mt(10); bg(grey); bd(4,4,4,4,solid,white);
            .dz-upload
                tr-cl(); db(); wh(0%,100%); bg(green); rad(5);

        .dz-error-message
            fg(red); mt(10);

    .dz-marks
        .btn
            rad(50%); wh(40); p(5,0); fs(19);
            &.dz-remove
                fg(red);
            &.dz-success-mark
                fg(green); dn();
            &.dz-error-mark
                fg(red);  dn();
            &.dz-processing-mark
                fg(blue); dn();

    &.dz-embed-preview

        .dz-description
            mnh(71);

.dz-processing
    .dz-preview
        .dz-marks
            .dz-remove
                dn();
            .dz-processing-mark
                db();

.dz-success
    .dz-preview
        .dz-marks
            .dz-remove, .dz-processing-mark
                dn();
            .dz-success-mark
                db();

.dz-error
    .dz-preview

        .dz-details
            .dz-progress
                .dz-upload
                    bg(red);
        .dz-marks
            .dz-remove, .dz-processing-mark
                dn();
            .dz-error-mark
                db();
