@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../fonts/GothamRounded-Bold/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Bold/GothamRounded-Bold.otf')  format('opentype'),
        url('../fonts/GothamRounded-Bold/GothamRounded-Bold.woff') format('woff'),
        url('../fonts/GothamRounded-Bold/GothamRounded-Bold.ttf')  format('truetype'),
        url('../fonts/GothamRounded-Bold/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



// @font-face {
//   font-family: 'CheltenhamLT-Bold';
//   src: url('../fonts/CheltenhamLT-Bold/CheltenhamLT-Bold.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/CheltenhamLT-Bold/CheltenhamLT-Bold.woff') format('woff'),
//       url('../fonts/CheltenhamLT-Bold/CheltenhamLT-Bold.ttf')  format('truetype'),
//       url('../fonts/CheltenhamLT-Bold/CheltenhamLT-Bold.svg#CheltenhamLT-Bold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'DomCasualLT';
//   src: url('../fonts/DomCasualLT/DomCasualLT.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/DomCasualLT/DomCasualLT.woff') format('woff'),
//       url('../fonts/DomCasualLT/DomCasualLT.ttf')  format('truetype'),
//       url('../fonts/DomCasualLT/DomCasualLT.svg#DomCasualLT') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

.appicon:before {
    position: relative;
    left: 1px;
}

.gotham
    ff('GothamRounded-Bold'); lts(0); fwb()
// .gotham
//     ff('Rubik'); lts(-0.4px); fwb();