
/*********** TABS ***********/


.tabs


    > ul
        m(0); p(0); bd(0); bg(transparent); rad(0); cl(); ptb(15);
        li
            m(0); p(0); dib(); lh(20px);
            > a
                rl(); p(10,0); m(0,0,0,0); bd(0); fs(14); lts(0.5);
                // &:after
                //     op(0); db(0); tr-cl(); ct(" "); ab(,0,6,0,1); wh(100%,2);

                .counter
                    fg(#9c9c9c); fy(italic); fs(11); rl(); t(-7);

                &:hover, &.active
                    tdn(); fg(red);
                    // &:after
                    //     op(1);
            &:after
                ct("|"); fs(6); mlr(5); rl(); t(-3);
            &:last-child
                &:after
                    dn();


        li.empty
            op(0.5)

    .tabs-content
        p(15);

    &.tabs2
        mb(15);
        > ul
            li
                > a
                    fs(18); rl(); plr(15); mr(15);
                    &:after
                        ct(" "); ab(,-13,10,); wh(2,15); bg(grey)
                    // &:before
                    //     ct(" "); ab(,0,0,); wh(59%,1); bg(grey);

                    &:hover, &.active
                        tdn(); fg(red);
                        &:before
                            ct(" "); ab(,15,0,); wh(59%,1); bg(red);
                        // &:after, &:before
                        //     bg(red);
                &:after
                    dn();

    &.table
        display:table;
        width:100%;
        m(0);
        ul
            display: table-row;
            li
                float: none;
                display: table-cell;
                list-style:none;
            @media screen-sm-max
                li
                    w(50%); db(); mlr(0); fl();



.tabs-content
    dn();
    &.active
        db();