
.form-group
    ul.as-selections
        p(0);
        li.as-original input
            h(auto !important)
        li.as-selection-item, li.as-selection-item.blur
            rad(3); ptb(7); m(0,5,5,0)

        li.as-original
            mt(0);

    .as-results
        ul.as-list
            li.as-result-item, li.as-message
                p(5,10);
