#tinymce
    p(20); bg(white); m(0);


.mce-tinymce .mce-panel.mce-container
    bd(1,1,0,1,solid,#cc); rad(4,4,0,0);

.mce-tinymce.mce-container
    border-width: 0px !important;
    rad(10,10,10,10);

.mce-tinymce .mce-edit-area.mce-container
    border: 1px solid #ccc !important;
    border-top: 0px !important;
    rad(0,0,10,10);

.workon-html_input-placeholder
    fy(normal); op(1);

.mce-edit-focus
    outline: none !important;
    border: 2px dotted #FF3A36;
    m(-2);
