
/*********** TITRES ***********/

.title
    m(0); p(0); mb(20); fw(normal);

    &.title1, &.title1 p
        fs(40); mb(35); mt(15);
        /* FOR ACCENT */
        pt(8); mt(-8);
        line-height: 1;

    &.title2, &.title2 p
        fs(30); mt(5);
        line-height: 0.9;

    &.title3, &.title3 p
        fs(26); lts(0); mb(15);
        line-height: 1;

    &.title4, &.title4 p
        fs(22); tac(); tuc(); mtb(40); fw(normal); ts(rotate(-5deg)); lts(4.5); tdu();
        line-height: 1.4;

    &.title5, &.title5 p
        fs(22);  mb(15); lts(0);
        line-height: 1;

    &.title6, &.title6 p
        fs(20); mb(15); lts(0);
        line-height: 1;

    p
        a
            tdu();
            &:hover
                tdn();