.nav-tabs
    >li
        >a
            &.active
                background-color: #eee;
                border-color: #eee #eee #ddd;

.tab-content
    > .workon-tab
        dni();
        &.active
            dbi();