{% load i18n workon_admin_tags %}


<style type="text/css">
    {% workon_admin_theme request as theme %}



    /* Border-color */
    .nav-workon-sub-menu>li.active>a {
        border-color: {{ theme.light_color1 }};
    }

    .btn-primary {
        border-color: {{ theme.light_color2 }};
    }

    html, #page-content-wrapper {
        background-color: #C5C5C5;
    }

    .workon-menu-horizontal .nav-workon-menu .nav a:hover,
    .workon-menu-horizontal .nav-workon-menu .nav li.active a,
    .panel-workon>.panel-heading,
    .navbar-inverse,
    .btn-primary {
        background-color: {{ theme.light_color1 }};
    }

    .table-primary>thead>tr>th,
    .workon-menu-horizontal .nav-workon-menu,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: {{ theme.light_color2 }};
    }

  /*  .workon-menu-horizontal .nav-workon-menu .nav li.separator {
        background-color: {{ theme.dark_color1 }};
    }*/

    .workon-menu-horizontal .nav-workon-menu .nav,
    .workon-menu-horizontal .nav-workon-menu>li:hover>a,
    .table-primary>thead>tr>th.sorted {
        background-color: {{ theme.dark_color2 }};
    }

    .workon-menu-horizontal .nav-workon-menu {
        border-bottom: 3px solid #B3B3B3;
    }
    .nav-workon-sub-menu {
         margin-top: -3px;
    }
    .workon-menu-horizontal .nav-workon-menu>li a {
        color: #FAFBFB;
    }
    .workon-menu-horizontal .nav-workon-menu>li{
        border-color: {{ theme.dark_color1 }} !important;
    }

    .workon-menu-horizontal .nav-workon-menu .nav li {
        border-color: {{ theme.dark_color2 }} !important;

    }
    .navbar-workon-top .form-control {
        background-color: #FFFFFF; position:relative; top:-4px;
    }
    .navbar-workon-top .form-group .form-control-feedback {
        color: #FFFFFF;
    }
    .nav-workon-sub-menu>li.active>a {
        border-bottom: 3px solid {{ theme.light_color1 }};
    }
    .workon-menu-horizontal .nav-workon-menu>li.active>a,
    .workon-menu-horizontal .nav-workon-menu>li.active>a:hover,
    .workon-menu-horizontal .nav-workon-menu>li.active:hover>a {
        border-top: 3px solid {{ theme.dark_color2 }};
    }
    .navbar-inverse .navbar-nav>li>a {
        color: white;
    }

    a {
        color: {{ theme.light_color1 }};
    }
    .btn
    {
        border-radius:1px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active a:focus {
        background: {{ theme.light_color1 }};
        border-color: {{ theme.light_color1 }};
    }
    .tab-content {
        border-color:{{ theme.light_color1 }};
    }
</style>