
<div class="row-fluid" style="margin: 0px 0;">
     <div class="span3">
         <div class="panel box">
            <h4 class="italic-title"><span style="display:none;" id="active-users-container">sdfqsd</span> </h4>
        </div>
    </div>
</div>

<!-- this is just to make the view selector work, no need to display it -->
<div id="view-selector-container" style="display: none"></div>
<div class="row-fluid" style="margin: 20px 0;">

    {% for chart in charts %}
    <div class="span6">
        <section class="panel box">
            <h1>{{ chart.title }}</h1>
            <h2>{{ chart.resume }}</h2>
            <div id="chart-{{ forloop.counter }}-container"  class="chart"></div>
        </section>
    </div>
    {% cycle '' '</div><div class="row-fluid" style="margin: 20px 0;">' %}
    {% endfor %}
 </div>
{% include "workon/google/analytics_script.html" %}