{% load i18n workon %}

<script type="text/javascript">

    $('.workon-google-analytics fieldset .chart').addLoading();
    $('#google_analytics_users').appendTo('.navbar-collapse')
    $('#google_analytics_users').appendTo('.navbar-collapse')

    gapi.analytics.ready(function()
    {
        gapi.analytics.auth.authorize(
        {
            'serverAuth': {
                'access_token': '{{ token }}'
            }
        });

        var activeUsers = new gapi.analytics.ext.ActiveUsers(
        {
            container: 'active-users-container',
            pollingInterval: 5
        });
        activeUsers.once('success', function()
        {
            var activeUsers = $(this.container).find('b').text()
            $(this.container).html('<span class="glyphicon glyphicon-signal"/></span> <b>'+activeUsers+'</b> personnes sur le site').show();
            this.on('change', function(data)
            {
                $(this.container).html('<span class="glyphicon glyphicon-signal"/></span> <b>'+ data.activeUsers+'</b> personnes sur le site')
            });
        });


        gapi.client.analytics.data.ga.get({
            'ids': 'ga:{{ view_id }}',
            'start-date': 'today',
            'end-date': 'today',
            'metrics': 'ga:sessions'
        })
        .then(function(response) {

            console.log(response)
            $("#active-sessions-container").show().html('<span class="glyphicon glyphicon-bookmark"/></span> <b>'+ response.result.totalsForAllResults['ga:sessions']+'</b> sessions')
        })

        gapi.client.analytics.data.ga.get({
            'ids': 'ga:{{ view_id }}',
            'start-date': 'today',
            'end-date': 'today',
            'metrics': 'ga:pageviews'
        })
        .then(function(response) {
            console.log(response)
            $("#active-pageviews-container").show().html('<span class="glyphicon glyphicon-eye-open"/></span> <b>'+ response.result.totalsForAllResults['ga:pageviews']+'</b> pages vues')
        })


        var viewSelector = new gapi.analytics.ext.ViewSelector2(
        {
            container: 'view-selector-container',
        })
        .execute();

        viewSelector.on('viewChange', function(data)
        {
            // Start tracking active users for this view.
            activeUsers.set(data).execute();
        });


        {% for chart in charts %}
            var chart = {{ chart|jsonify|safe }};
            if(! chart.chart.option )
            {
                chart.chart.option = {};
            }
            chart.chart.container = 'chart-{{ forloop.counter }}-container';
            chart.chart.option.width = '100%';
            chart.chart.option.chartArea = {'left':0,'top':0,'width':"100%",'height':"100%"};
            var dataChart{{ forloop.counter }} = new gapi.analytics.googleCharts.DataChart(chart)
            dataChart{{ forloop.counter }}.execute();
            $('#chart-{{ forloop.counter }}-container').removeLoading();
            var dataChart{{ forloop.counter }}TO = null;
            // window.addEventListener('resize', function()
            // {
            //     clearTimeout(dataChart{{ forloop.counter }}TO);
            //     dataChart{{ forloop.counter }}TO = setTimeout(function()
            //     {
            //         dataChart{{ forloop.counter }}.chart.draw();
            //     }, 500)
            // });
        {% endfor %}

    });
</script>