
<div class="row">
     <div class="col-md-3 col-sm-2">
         <div class="box well fieldset-body">
            <h4 class="italic-title"><span style="display:none;" id="active-users-container">sdfqsd</span> </h4>
        </div>
    </div>
</div>

<!-- this is just to make the view selector work, no need to display it -->
<div id="view-selector-container" style="display: none"></div>
<div class="row workon-google-analytics" >
    {% for chart in charts %}
    <div class="col-md-4 col-sm-6">
        <fieldset class="module aligned">
            <div class="fieldset-heading clearfix">
                <h3 class="fieldset-title">
                    {{ chart.title }}
                    <small class="description">{{ chart.resume }}</small>
                </h3>
            </div>
            <div class="box well fieldset-body">
                <div id="chart-{{ forloop.counter }}-container"  class="chart"></div>
            </div>
        </fieldset>

    </div>
    {% endfor %}
</div>

{% include "workon/google/analytics_script.html" %}