{% load i18n workon %}
<script>
(function(w,d,s,g,js,fs){
g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
js.src='https://apis.google.com/js/platform.js';
fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>
<!-- Include the ActiveUsers component script. -->
<script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/active-users.js"></script>
<script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/view-selector2.js"></script>
<style>
    .box.well {
        overflow: hidden;
        padding: 0px;
    }
    .box h1 {
        margin:0px;
    }
    #active-users-container {
        text-align:center;
        display:block;
    }
    #active-users-container b {
        display:block;
        font-size:34px;
        margin:15px;
    }

</style>
<script type="text/javascript">

    $('.workon-google-analytics fieldset .chart').addLoading();

    gapi.analytics.ready(function()
    {
        gapi.analytics.auth.authorize(
        {
            'serverAuth': {
                'access_token': '{{ token }}'
            }
        });

        var activeUsers = new gapi.analytics.ext.ActiveUsers(
        {
            container: 'active-users-container',
            pollingInterval: 5
        });
        activeUsers.once('success', function()
        {
            var activeUsers = $(this.container).find('b').text()
            $(this.container).html('<b>'+activeUsers+'</b> utilisateurs actifs sur le site').show();
            this.on('change', function(data)
            {
                $(this.container).html('<b>'+ data.activeUsers+'</b> utilisateurs actifs sur le site')
            });
        });

        var viewSelector = new gapi.analytics.ext.ViewSelector2(
        {
            container: 'view-selector-container',
        })
        .execute();

        viewSelector.on('viewChange', function(data)
        {
            // Start tracking active users for this view.
            activeUsers.set(data).execute();
        });


        {% for chart in charts %}
            var chart = {{ chart|jsonify|safe }};
            if(! chart.chart.option )
            {
                chart.chart.option = {};
            }
            chart.chart.container = 'chart-{{ forloop.counter }}-container';
            chart.chart.option.width = '100%';
            chart.chart.option.chartArea = {'left':0,'top':0,'width':"100%",'height':"100%"};
            var dataChart{{ forloop.counter }} = new gapi.analytics.googleCharts.DataChart(chart)
            dataChart{{ forloop.counter }}.execute();
            $('#chart-{{ forloop.counter }}-container').removeLoading();
            var dataChart{{ forloop.counter }}TO = null;
            window.addEventListener('resize', function()
            {
                clearTimeout(dataChart{{ forloop.counter }}TO);
                dataChart{{ forloop.counter }}TO = setTimeout(function()
                {
                    dataChart{{ forloop.counter }}.chart.draw();
                }, 500)
            });
        {% endfor %}

    });
</script>