{% load workon %}
<div id="google_analytics_users" class="fieldset-body">
    <span style="display:none;" id="active-users-container" data-tooltip="Utilisateurs actifs sur le site (temps réél)"></span>
    <span style="display:none;" id="active-sessions-container"  data-tooltip="Sessions aujourd'hui"></span>
    <span style="display:none;" id="active-pageviews-container"  data-tooltip="Page vues aujourd'hui"></span>
    <div id="view-selector-container" style="display: none"></div>
</div>
<script type="text/javascript">


    gapi.analytics.ready(function()
    {
        gapi.analytics.auth.authorize(
        {
            'serverAuth': {
                'access_token': '{{ token }}'
            }
        });

        var activeUsers = new gapi.analytics.ext.ActiveUsers(
        {
            container: 'active-users-container',
            pollingInterval: 5
        });
        activeUsers.once('success', function(change)
        {
            change = function(container, activeUsers) {
                $(container).html('<span class="fa fa-users"/></span> <b>'+activeUsers+'</b>').show();
            }
            change(this.container, $(this.container).find('b').text())
            this.on('change', function(data)
            {
                change(this.container, data.activeUsers)
            });
        });

        var viewSelector = new gapi.analytics.ext.ViewSelector2(
        {
            container: 'view-selector-container',
        })
        .execute();

        viewSelector.on('viewChange', function(data)
        {
            // Start tracking active users for this view.
            activeUsers.set(data).execute();
        });


        gapi.client.analytics.data.ga.get({
            'ids': 'ga:{{ view_id }}',
            'start-date': 'today',
            'end-date': 'today',
            'metrics': 'ga:sessions'
        })
        .then(function(response) {
            $("#active-sessions-container").show().html('<span class="glyphicon glyphicon-bookmark"/></span> <b>'+ response.result.totalsForAllResults['ga:sessions']+'</b>')
        })

        gapi.client.analytics.data.ga.get({
            'ids': 'ga:{{ view_id }}',
            'start-date': 'today',
            'end-date': 'today',
            'metrics': 'ga:pageviews'
        })
        .then(function(response) {
            $("#active-pageviews-container").show().html('<span class="glyphicon glyphicon-eye-open"/></span> <b>'+ response.result.totalsForAllResults['ga:pageviews']+'</b>')
        })

    });
</script>