
darker-color = #2D2D2D
dark-color = #4c3e50
light-color = #7abc9c//#EC531F
lighter-color = #f5f5f5
error-color = #f43f20

font-color = #869198

tr-cl()
    tr(all 0.05s ease-out);

@import '../../stylus/shortcuts/shortcuts.styl';
@import 'uikit/*.styl';
@import 'application/*.styl';