#messages
    p(0);

    .message
        background: rgba(0, 162, 54, 0.41);
        color: #FFF;
        padding: 10px 20px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 5px;

        &.info
            bg(#EFE3C5); fs(21); fwb();

        &.error
            bg(red); fs(21); fwb();