// .user-nav
//     position: relative;
//     min-height: 50px;
//     margin-bottom: 20px;
//     border: 1px solid transparent;

//     background-color: rgba(0, 0, 0, 0);

//     .navbar-brand
//         font-size: 1.8em;
//         color: #2c3e50;
//         float: left;
//         padding: 15px 15px;
//         line-height: 20px;
//         height: 50px;

// .navbar-inverse
//     bg(#303131); bc(#929292); bb(2);
//     font-weight: 400;
//     .navbar-nav
//         > li > a
//             color: rgba(255, 255, 255, 0.8);

//     .navbar-form
//         .form-control
//             border-color: #1C73A5;

//     .navbar-brand
//         img
//             height:23px;
