.table > thead > tr > td.success, .table > thead > tr > th.success,
.table > thead > tr.success > td, .table > thead > tr.success > th,
.table > tbody > tr > td.success, .table > tbody > tr > th.success,
.table > tbody > tr.success > td, .table > tbody > tr.success > th,
.table > tfoot > tr > td.success, .table > tfoot > tr > th.success,
.table > tfoot > tr.success > td, .table > tfoot > tr.success > th
    background-color: rgba(0,0,0,0.1);

.table-striped > tbody > tr:nth-child(odd) > td,
.table > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th,
.table > tbody > tr:nth-child(odd) > th
    background-color: rgba(0,0,0,0.1);


.table
    thead
        tr
            bd(0);
        th
            bd(0);
            a
                fg(#7abc9c)

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
    border: 0px;