// #changelist-search
//     fx(60,0,,60,-1); op(0); p(15); bg(darker-color);  tr-cl();
//     .btn
//         rl(); t(-2);
//     .btn-submit
//         ml(5); fr(); t(5);
//     .btn-reset
//         p(8,10); mr(5);

//     html.nav-search-expanded &
//         z(2); op(1);

//     html.nav-expanded &
//         l(60);

#changelist-search
    op(0); h(0); oh(); p(15); tr-cl();
    .btn
        rl(); t(-2);
    .btn-submit
        ml(5); fr(); t(5);
    .btn-reset
        p(8,10); mr(5);

    html.nav-search-expanded &
        z(2); op(1); h(auto);

    html.nav-expanded &
        l(60);



form.change-list

    table
        fs(14);

    .panel-footer
        //fx(,55,10,120,1001);
        bg(#f5f5f5); p(10); m(0,0,0,0); rad(5);
        //bs(0px 0px 1px 1px rgba(0, 0, 0, 0.15) !important);
        border: 1px solid #ddd;
        .action-label
            dn();
        .action-counter
            pl(5);

    td
        .form-control
            w(auto);
        .input-group
            dib();
            .input-group-btn .btn
                ptb(9)

        p.datetime
            mnw(250);
            input
                mxw(100); dib();

    // .panel-list
    //      mb(100);