body.login
    color: #2c3e50
    background-color: #bdc3c7
    .wrapper
        padding: 20px
        background-color: #ecf0f1
        border-radius(15px)
        box-shadow(0 0 0 2px rgba(black, 0.04))
        border: 1px solid rgba(black, .3)
        margin: 10% auto
        width: 300px
        .brand
            margin-top: -15px
            h1
                display: block
                margin-bottom: 20px
                .logo-icon
                    width: 75px
                    height: 75px
                    margin: auto
                    padding: 15px
                    border-radius: 40px
                    background: #2c3e50
                    i
                        margin-top: -3px
                        color: #1abc9c
                        font-size: 50px
        .text-center
            .checkbox
                text-align: center
            legend
                text-align: center
                input
                    float: none